  #wrapper {
	width: 100%;
	height: 100%;
	position: relative;
  }
  
	/*
	* Trees
	* ----
	*/
  
	#trees {
	  width: 100%;
	  height: 30%;
	  position: absolute;
	  bottom: 10%;
	}
  
	  /* General */
	  #leftLeaf { fill: #00B16A; }
	  #rightLeaf { fill: #3FC380; }
	  #trunk { stroke: #8F6F40; stroke-width: 20px; }
  
	  /* Specific */
	  #tree1 { -webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px); }
	  #tree2 { -webkit-transform: translateX(50px); -moz-transform: translateX(50px); transform: translateX(50px); }
	  #tree3 { -webkit-transform: translateX(100px); -moz-transform: translateX(100px); transform: translateX(100px); }
	  #tree4 { -webkit-transform: translateX(700px); -moz-transform: translateX(700px); transform: translateX(700px); }
	  #tree5 { -webkit-transform: translateX(1100px); -moz-transform: translateX(1100px); transform: translateX(1100px); }
	  #tree6 { -webkit-transform: translateX(1200px); -moz-transform: translateX(1200px); transform: translateX(1200px); }
	  #tree7 { -webkit-transform: translateX(1400px); -moz-transform: translateX(1400px); transform: translateX(1400px); }
  
	  #firstTrees {
		-webkit-animation: first-trees-moving 12s linear 0s infinite both;
		-moz-animation: first-trees-moving 12s linear 0s infinite both;
				animation: first-trees-moving 12s linear 0s infinite both;
	  }
  
	  @-webkit-keyframes first-trees-moving {
		from { -webkit-transform: translateX(2500px); transform: translateX(2500px); }
		to { -webkit-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }
  
      @-moz-keyframes first-trees-moving {
		from { -moz-transform: translateX(2500px); transform: translateX(2500px); }
		to { -moz-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }

	  @keyframes first-trees-moving {
		from { -webkit-transform: translateX(2500px); transform: translateX(2500px); }
		to { -webkit-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }
  
	  #secondTrees {
		-webkit-animation: second-trees-showing 12s linear 0.5s 1 both, 
                   second-trees-moving 12s linear 1s infinite both;
        -moz-animation: second-trees-showing 12s linear 0.5s 1 both, 
				   second-trees-moving 12s linear 1s infinite both;
				animation: second-trees-showing 12s linear 0.5s 1 both, 
				   second-trees-moving 12s linear 1s infinite both;
	  }
  
	  @-webkit-keyframes second-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
      }
      
      @-moz-keyframes second-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
	  }
  
	  @keyframes second-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
	  }
  
	  @-webkit-keyframes second-trees-moving {
		from { -webkit-transform: translateX(2500px); transform: translateX(2500px); }
		to { -webkit-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }
  
      @-moz-keyframes second-trees-moving {
		from { -moz-transform: translateX(2500px); transform: translateX(2500px); }
		to { -moz-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }

	  @keyframes second-trees-moving {
		from { -webkit-transform: translateX(2500px); transform: translateX(2500px); }
		to { -webkit-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }
  
	  #thirdTrees {
		-webkit-animation: third-trees-showing 12s linear 1s 1 both, 
		third-trees-moving 12s linear 4.5s infinite both;
		-moz-animation: third-trees-showing 12s linear 1s 1 both, 
		third-trees-moving 12s linear 4.5s infinite both;
				animation: third-trees-showing 12s linear 4s 1 both, 
				third-trees-moving 12s linear 4.5s infinite both;
	  }
  
	  @-webkit-keyframes third-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
	  }

      @-moz-keyframes third-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
	  }

	  @keyframes third-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
	  }
  
	  @-webkit-keyframes third-trees-moving {
		from { -webkit-transform: translateX(2500px); transform: translateX(2500px); }
		to { -webkit-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }
  
      @-moz-keyframes third-trees-moving {
		from { -moz-transform: translateX(2500px); transform: translateX(2500px); }
		to { -moz-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }

	  @keyframes third-trees-moving {
		from { -webkit-transform: translateX(2500px); transform: translateX(2500px); }
		to { -webkit-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }

	  #fourTrees {
		-webkit-animation: four-trees-showing 12s linear 0s 1 both, 
		four-trees-moving 12s linear 1s infinite both;
		-moz-animation: four-trees-showing 12s linear 0s 1 both, 
		four-trees-moving 12s linear 1s infinite both;
				animation: four-trees-showing 12s linear 0s 1 both, 
				four-trees-moving 12s linear 1s infinite both;
	  }
  
	  @-webkit-keyframes four-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
	  }
  
      @-moz-keyframes four-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
	  }

	  @keyframes four-trees-showing {
		from, 99% { opacity: 0; }
		to { opacity: 1; };
	  }

	  @-webkit-keyframes four-trees-moving {
		from { -webkit-transform: translateX(2500px); transform: translateX(2500px); }
		to { -webkit-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }
  
      @-moz-keyframes four-trees-moving {
		from { -moz-transform: translateX(2500px); transform: translateX(2500px); }
		to { -moz-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }

	  @keyframes four-trees-moving {
		from { -webkit-transform: translateX(2500px); transform: translateX(2500px); }
		to { -webkit-transform: translateX(-2500px); transform: translateX(-2500px); };
	  }


	/*
	 * Ground
	 * ----
	 */
  
	#ground {
	  width: 100%;
	  height: 2%;
	  position: absolute;
	  bottom: 0;
	  background: #9E906E;
	}
  
	#grass {
	  position: absolute;
	  bottom: 8%;
	  height: 2%;
	  width: 100%;
	  background: #2ecc71;
	}
  
  #water {
	position: absolute;
	bottom: 0;
	height: 6%;
	width: 100%;
	background: green;
  }
