@media screen and (max-width:1100px) {
    .logotype {
        display: none;
    }
    .info {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: max-content 400px;
    }
    .meet-the-team {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-for-small-screen {
        display:grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        margin-bottom: 20px;
        align-items: center;
    }
}

@media screen and (max-width:690px) {
    article {
        padding: 20px;
    }
   
    .info {
        grid-template-columns: auto;
    }

    .photos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:560px) {
    .train img {
        width: 250px;
        /*-webkit-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;*/
    }

    .train {
        align-content:start;
    }

    .photos {
        grid-template-columns: repeat(2, 1fr);
    }
}