.container {
  box-shadow: inset 0 1px 0 #444, 0 -1px 0 #000;
  height: 240px;
  justify-self:center;
  width: 220px;
  z-index:10;
  position:relative;
}

.container img {
	position:absolute;
	top:-120px;
}

.heart {
	font-size: 120px;
	color: #e00;
	animation: beat .25s infinite alternate;
	transform-origin: center;
	/*justify-self:center;
	display:none;*/
	text-align:center;
	position:relative;
	top:-170px;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.4); }
}

@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}

.fallingHearts {
	position:relative;
	width:100px;
	text-align: center;
    margin: 0 auto;
	z-index:10;}

.fallingHearts i {
    display: inline-block;
    -webkit-animation: falling 2s 3s;
	color:red;
	font-size:30px;
	background-color:transparent;
	opacity:0;
}

.fallingHearts i:nth-of-type(n)   { -webkit-animation-delay: 0.9s;}
.fallingHearts i:nth-of-type(2n)  { -webkit-animation-delay: 0.9s;}
.fallingHearts i:nth-of-type(3n)  { -webkit-animation-delay: 0.3s;}
.fallingHearts i:nth-of-type(4n)  { -webkit-animation-delay: 0.4s;}
.fallingHearts i:nth-of-type(5n)  { -webkit-animation-delay: 0s;  }
.fallingHearts i:nth-of-type(6n)  { -webkit-animation-delay: 0.5s;}
.fallingHearts i:nth-of-type(7n)  { -webkit-animation-delay: 0.8s;}
.fallingHearts i:nth-of-type(8n)  { -webkit-animation-delay: 0.5s;}
.fallingHearts i:nth-of-type(9n)  { -webkit-animation-delay: 0.3s;}
.fallingHearts i:nth-of-type(10n) { -webkit-animation-delay: 0.5s;}

@-webkit-keyframes falling {
    0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(0deg);
			opacity:1;
    }
    
    100% {
        -webkit-transform:
        translate3d(0,440px,0)
        rotate(90deg);
		opacity: 0;
    }
}