* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}


html {
	font-family: "YesevaOne", serif;
	height: 100%;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.base-surfase {
	display:block;
	background-image: url('../Images/background-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	width: 100%;
	min-height: 100%;
	padding:5% 0;
}
	
.field {
	display:none;
	max-width:1266px;
	height:668px;
	display:grid;
	grid-template-columns:repeat(3,auto);
	grid-template-rows:repeat(3,auto);
	background-image: url('../Images/landscape.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	border:solid rgb(28, 107, 114) 4px;
	border-radius:20px;
	margin:0 auto;
	padding:45px 80px 50px;
	line-height:1.5;
}

.hero, .monster {
	display:grid;
	justify-content:center;
	grid-template-columns: max-content;
	align-self:end;
	position:relative;
}

.head, .weapon {
	justify-self:center;
}

.monster div.head, .hero div.head {
	position:absolute;
	bottom:20px;
}

div.weapon {
	position:absolute;
	right:6%;
	bottom:70px;
}

.monster {
	transform: rotateY(180deg);
}

.aboutPlayer, .aboutMonster {
	justify-self:start;
	font-size:22px;
}

.aboutMonster {
	justify-self:end;
	text-align:right;
	z-index:11;
}

img.aboutMonster {
	width:250px;
	position:abcolute;
	top:-50px;
	justify-self:center;
}

.life {
	height:35px;
	background-color:red;
	border-radius:25px;
	border: #fff solid 2px;
}

canvas {
	width:220px;
	height:450px;
}