* {
	margin: 0;
	padding: 0;
  text-decoration: none;
 }
 
 @font-face {
  font-family: Adigiana-2; 
  src: url(../Fonts/Adigiana-2.ttf); 
 }

 .task-audio {
  max-width:1266px;
	height:668px;
	margin:0 auto;
	padding:45px 80px 50px;
  /*margin: -580px 0 0 310px; */
  display: none;
  /*width: 700px;
  height: 500px;*/
  
  /*border-radius: 10px;
  border: 10px solid red;*/
  	background-size: cover;
	background-repeat: no-repeat;

  background-position: bottom center;
	border:solid red 4px;
	border-radius:20px;
	z-index:20;
  background-image: url("../Images/fone-audio.jpg");
  
 } 
.audio p {
  background-color: red;
  width: 160px;
  height: 30px;
  border-radius: 5px; 
  text-align: center;
  font-size: 25px;
  color:blue;
  font-family: Adigiana-2, sans-serif;
}

.audio p:hover {
  cursor: pointer;
  background: orange;
}
 /* .animal-picture img {
   width: 300px;
   height: 200px;
   border-radius: 20px;
   border: 3px solid chartreuse;
 } */
.greeting-audio {
  width: 800px;
  margin: 85px auto 20px;
}

.greeting-audio p {
  text-align: center;
  font-family: Adigiana-2, sans-serif;
  font-size: 42px;
  color: #D51414;
  text-shadow: 1px 1px 2px black;
}

.forma-audio p {
  display: inline-block;
}
.forma-audio {
  text-align: center;
}
.answer-audio {
  display: inline-block;
  /* width: 320px;
  margin: 40px 0 0 180px; */


}


/* .equally {
  color: black;
}
.result {
  position:relative;
  margin: -56px 0 0 320px;
} */

.input-audio {
  margin-top: 30px;
  width: 200px;
  height: 40px;
  font-size: 30px;
  border-radius: 5px;
  
}

.button-audio {
  background-color: #0FB5B7;
  width: 120px;
  height: 60px;
  border-radius: 20px;
  margin: 15px auto;
}

.button-audio p {
  text-align: center;
  font-size: 25px;
  color:blue;
  font-family: Adigiana-2, sans-serif;
}

.button-audio:hover {
  cursor: pointer;
  background: red;
}

.grate-audio {
  width: 385px;
  height: 100px;
  background-color: yellowgreen;
  border-radius: 10px;
  text-align: center;
  font-family: Adigiana-2, sans-serif;
  font-size: 30px;
  color: #86561E;
  margin: 250px auto 0;
}